@model IEnumerable<FusionManager.Models.Persona>

@{
    ViewBag.Title = "Persona Listing";
}

<div class="card-columns">    
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header">
                    <h3>@item.Name (@item.InitialLevel)</h3>
                </div>
                <div class="card-content">
                    <span class="h5">@item.Arcana</span>                                            
                    <span class="h6 pull-right">+@item.HPIncrease HP +@item.SPIncrease SP</span>
                </div>
                    <p>
                        @Html.DisplayFor(modelItem => item.SkillsList)
                    </p>                    
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })                
            </div>
        }    
</div>




