@model IEnumerable<FusionManager.Models.Persona>

@{
    ViewBag.Title = "Persona Listing";
}
<h3>Persona Listing</h3>
<div style="display: flex; flex-wrap : wrap; justify-content: space-around;">    
        @foreach (var item in Model)
        {
            <div class="card" style="width: 300px; min-height: 300px;">
                <div class="card-header @item.InheritanceType.ToString()">
                    <span class="h3">@item.Name (@item.InitialLevel)</span><span class="h6 pull-right">+@item.HPIncrease HP +@item.SPIncrease SP</span>
                </div>
                <div class="card-content">
                    <h4>@item.Arcana</h4>
                    <p>
                        Extracted : @item.ExtractedSkill.Name
                    </p>
                    <ul class="list-group list-group-flush">
                        @foreach (var skill in item.LearnedSkills)
                        {
                            <li class="list-group-item">@skill.Skill.Name (@skill.LevelLearned)</li>                                
                        }
                    </ul>
                    <ul class="list-inline">
                        @foreach (var type in item.InheritableSkillTypes)
                        {
                            if (type.CanInherit)
                            {
                                <li class="@type.Type.ToName()">@type.Type.ToName()</li>
                            }
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </div>                    
            </div>
        }    
</div>




