@model IEnumerable<FusionManager.Models.Persona>

@{
    ViewBag.Title = "Persona Listing";
}

<h2>View</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HPIncrease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPIncrease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDownloadedContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillsList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HPIncrease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPIncrease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDownloadedContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillsList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
