@model IEnumerable<FusionManager.Models.Persona>

@{
    ViewBag.Title = "Compendium";
}

<h2>Compendium</h2>

<p>
    @Html.ActionLink("Add Persona to Compendium", "CompendiumEdit", new { ID = 0 })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Level
        </th>
        <th>
            Inherited Skills
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InheritedSkillsList)
        </td>
        <td>
            @Html.ActionLink("Edit", "CompendiumEdit", new { ID = item.ID }) |
            @Html.ActionLink("Details", "CompendiumDetails", new { ID = item.ID })            
        </td>
    </tr>
}

</table>
