@model FusionManager.Models.Persona

@{
    ViewBag.Title = Model.Name;
}
<div style="height:20px;"></div>
<div class="card">
    <div class="card-header @Model.InheritanceType.ToString()">
        <span class="h3">@Model.Name (@Model.InitialLevel)</span><span class="h6 pull-right">+@Model.HPIncrease HP +@Model.SPIncrease SP</span>
    </div>
    <div class="card-block">                    
        <h4 class="card-text">@Model.Arcana</h4>                        
        <p class="card-text">
            Extracted : @Model.ExtractedSkill.Name
        </p>
        <p class="card-text">
            Inheritance Type : @Model.InheritanceType.ToString()
        </p>                    
        <h4>Learned Skills</h4>
        <table class="table table-responsive table-bordered">
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Type</th>
                <th>Description</th>
                <th>In.</th>
            </tr>
            
                @foreach (var skill in Model.LearnedSkills)
                {
                    <tr class="@(skill.Skill.CanPassDown ? "" : "danger")">
                        <td>@skill.Skill.Name</td>
                        <td>@skill.LevelLearned</td>
                        <td>@skill.Skill.Type</td>
                        <td>@skill.Skill.Description</td>
                        <td class="@(skill.Skill.CanPassDown ? skill.Skill.SkillType.ToName() : "")">@skill.Skill.SkillType.ToName()</td>
                    </tr>
                }
            
        </table>
                
        @if (Model.HasCompendiumEntry)
        {
            <h4>Compendium Entry</h4>
            <p>Level : @Model.ActualLevel</p>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th>Name</th>                    
                    <th>Type</th>
                    <th>Description</th>
                    <th>In.</th>
                </tr>
                @foreach (var skill in Model.InheritedSkills)
                {                                        
                    <tr class="@(skill.CanPassDown ? "" : "danger")">                    
                        <td>@skill.Name</td>
                        <td>@skill.Type</td>
                        <td>@skill.Description</td>
                        <td class="@(skill.CanPassDown ? skill.SkillType.ToName() : "")">@skill.SkillType.ToName()</td>
                    </tr>
                }
            </table>
        }

        <h4>Inheritable Skill Types</h4>
        <ul class="list-inline">
            @foreach (var type in Model.InheritableSkillTypes)
            {
                if (type.CanInherit)
                {
                    <li class="@type.Type.ToName()">@type.Type.ToName()</li>
                }
            }
        </ul>
</div>
    <div class="card-footer">
        @Html.ActionLink("Return To Listing", "Index") |
        @Html.ActionLink("Compendium", "CompendiumDetails", new { ID = Model.ID }) |       
        @Html.ActionLink("How Do I Fuse?", "Delete", new { /* id=item.PrimaryKey */ })
    </div>
</div>
